{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    plugin_id == 'system_main_block' ? 'col-12',
    plugin_id == 'page_title_block' ? 'col-12',
    plugin_id == 'system_breadcrumb_block' ? 'col-12',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div aria-labelledby="paymentModalLabel" class="modal fade show" id="paymentModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">
                        {#Оформить заказ#}
                        <span class="product-name"></span>
                        <span class="product-price"></span>
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ title_prefix }}
                    {% if label %}
                        <h2{{ title_attributes }}>{{ label }}</h2>
                    {% endif %}
                    {{ title_suffix }}
                    {% block content %}
                        <div{{ content_attributes.addClass('content') }}>
                            {{ content }}
{#

                            <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                                <input type="hidden" name="receiver" value="410013628778447">
                                <input type="hidden" name="formcomment" value="«Мастерская флориста»">
                                <input type="hidden" name="short-dest" value="«Мастерская флориста»">
                                <input type="hidden" name="label" value="$order_id">
                                <input type="hidden" name="quickpay-form" value="shop">
                                <input type="hidden" name="targets" value="транзакция {order_id}">
                                <input type="" name="sum" value="4568.25" data-type="number">
                                <input type="hidden" name="comment" value="Здесь должен быть номер заказа и товар">
                                <input type="hidden" name="need-fio" value="false">
                                <input type="hidden" name="need-email" value="false">
                                <input type="hidden" name="need-phone" value="false">
                                <input type="hidden" name="need-address" value="false">
                                <input type="hidden" name="successURL" value="http://www.мастерскаяфлориста.рф/">
                                <label><input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label>
                                <label><input type="radio" name="paymentType" value="AC">Банковской картой</label>
                                <label><input type="radio" name="paymentType" value="MC">Счет телефона Билайн, МТС, Tele2</label>
                                <input type="submit" value="Оплатить">
                            </form>


                            <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9C%D0%B0%D1%81%D1%82%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F%20%D1%84%D0%BB%D0%BE%D1%80%D0%B8%D1%81%D1%82%D0%B0&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&hint=&successURL=&quickpay=shop&account=410011694949614" width="450" height="216" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
#}

                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
