{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">#}
    <meta property="og:title" content="«Мастерская флориста» — доставка цветв в Иркутске"/>
    <meta property="og:url" content="http://xn--80aaasqkidxqefcgfk2a1r.xn--p1ai/" />
    <meta property="og:description" content="Доставка цветов в Иркутске"/>
    <meta property="og:image" content="http://xn--80aaasqkidxqefcgfk2a1r.xn--p1ai/social_pic.jpg"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ru_Ru" />
    <meta property="fb:admins" content="100008978314464"/>
    <meta property="place:location:latitude" content="52.28843937"/>
    <meta property="place:location:longitude" content="104.24547478"/>
    <meta property="business:contact_data:street_address" content="2-я Железнодорожная"/>
    <meta property="business:contact_data:locality" content="Иркутск"/>
    <meta property="business:contact_data:postal_code" content="664005"/>
    <meta property="business:contact_data:country_name" content="Россия"/>
    <meta property="business:contact_data:email" content="masterskayaflorista@yandex.ru"/>
    <meta property="business:contact_data:phone_number" content="+79248348419"/>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter47921207 = new Ya.Metrika({
              id:47921207,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true,
              trackHash:true
            });
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47921207" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <div aria-hidden="true" aria-labelledby="mapModalLabel" class="modal fade" id="mapModal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mapModalLabel">Схема проезда</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Иркутск, ул. 2-я Железнодорожная, 6 <!--(<a href="http://go.2gis.com/o09xa" title="Открыть электронную карту" target="_blank">карта 2GIS</a>)--></p>
            <div id="contact-map-gis">
              <p>
                <a class="dg-widget-link" href="http://2gis.ru/irkutsk/firm/70000001031165009/center/104.25446033477785,52.29065884678865/zoom/15?utm_medium=widget-source&amp;utm_campaign=firmsonmap&amp;utm_source=bigMap">Посмотреть на карте Иркутска</a>
              </p>
              <div class="dg-widget-link">
                <a href="http://2gis.ru/irkutsk/firm/70000001031165009/photos/70000001031165009/center/104.25446033477785,52.29065884678865/zoom/17?utm_medium=widget-source&amp;utm_campaign=firmsonmap&amp;utm_source=photos">Фотографии компании</a></div>
              <div class="dg-widget-link">
                <a href="http://2gis.ru/irkutsk/center/104.245463,52.28851/zoom/15/routeTab/rsType/bus/to/104.245463,52.28851╎Мастерскаяфлориста.рф, магазин?utm_medium=widget-source&amp;utm_campaign=firmsonmap&amp;utm_source=route">Найти проезд до Мастерскаяфлориста.рф, магазин</a></div>
              <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
              <script charset="utf-8">new DGWidgetLoader({"width":500,"height":500,"borderColor":"#a3a3a3","pos":{"lat":52.29065884678865,"lon":104.25446033477785,"zoom":15},"opt":{"city":"irkutsk"},"org":[{"id":"70000001031165009"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>

            </div>
            {#<div id="contact-map">&nbsp;</div>#}
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
