{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter47921207 = new Ya.Metrika({
              id:47921207,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true,
              trackHash:true
            });
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47921207" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <div aria-hidden="true" aria-labelledby="mapModalLabel" class="modal fade" id="mapModal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mapModalLabel">Схема проезда</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Иркутск, ул. 2-я Железнодорожная, 6 (<a href="http://go.2gis.com/o09xa" title="Открыть электронную карту" target="_blank">карта 2GIS</a>)</p>
            <div id="contact-map">&nbsp;</div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    {#
    <div aria-hidden="true" aria-labelledby="paymentModalLabel" class="modal fade" id="paymentModal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paymentModalLabel">Покупка</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <p>Для совершения покупки позвоните по телефону 8924-834-8419</p>
            <p>Вам потребуется:</p>
            <ul>
              <li>название и номер товара;</li>
              <li>ваше имя и телефон;</li>
            </ul>
            <br>
            <p>Оплата:</p>
            <ul>
              <li>наличными в магазине (при самовывозе);</li>
              <li>наличными курьеру;</li>
              <li>безналичный расчет в магазине (оплата картой, при самовывозе);</li>
              <li>безналичный расчет курьеру (оплата картой через мобильный терминал курьеру);</li>
              <li>перевод на карту 4276-1800-1168-0575 (Сбербанк);</li>
              <li>мобильный банк Сбербанка ‎8924-839-6090;</li>
              <li>Яндекс.Деньги (кошелёк №‎4100-1626-1633-573);</li>
              <li>на расчетный счёт (счёт №40802810518350019808).</li>
            </ul>
            <p>Нужна доставка? Сообщите число, время, адрес, имя получателя</p>
            <p>Дополнительные услуги: упаковка, отрытка, подарок</p>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
#}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
